%html
  %head
    %title
      EmberApp
  %body
    %script(src="dist/lib/jquery/dist/jquery.js")
    %script(src="dist/lib/handlebars/handlebars.js")
    %script(src="dist/lib/ember/ember.js")
    %script(src="dist/assets/js/main.js")
